th,td {
    text-align: center;
    padding: 10px;
  }
input{
  -webkit-transition-duration: 0.3s; /* Safari */
  transition-duration: 0.3s;
  border-radius: 25px;
  border: 1px solid #FF8B94;
  background-color: #FFE8D8
}
input:hover {
  background-color: #FFCCA5
}

#toolbox{
  border: 5px solid #A8E6CF;
  background-color: #DCEDC1;
  position: absolute;
  top: 20%;
  left: 4%;
  padding: 10px;
  border-radius: 15px;
  width: 30%
}

select{
  border-radius: 10px;
  border: 1px solid #00ABAD;
}
body{
  background-color: #FFD3B6;
  padding: 10px 
}
#aa{
  background-image: url(../icon/download.png);
  background-size: 70%;
  background-repeat: no-repeat;
  align-self: center;

}
#container {  /*div of canvas*/
  position: absolute;
  top: 15%;
  left: 35%;
 }
#myCanvas { 
  background-color: white;
  
}
#imageTemp { 
  position: absolute;
  top: 0px; 
  left: 0px; 
}
#textTemp { 
  position: absolute; 
  border: 1px dashed #A8E6CF;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0)
}
#upload {
  width: 100%;
  padding: 2%;
  text-align: center;
}
#favcolor, #font_size{
  border-radius: 10px;
  border: 1px solid #00ABAD;
  background-color: rgb(255, 255, 255)
}